@charset "utf-8";
body{
    background: url() no-repeat;
}
#errorDiv{
    width: 100%;
    margin: 50px auto;
    background: url(../image/2.jpg) 5px center no-repeat;
    height: 400px;
}
#errorHint{
    padding-left: 600px;
    padding-top: 100px;
}
#errorInfo,
#leaveTime{
    color: brown;
    font-weight: bold;
}
#leaveTime{
	font-size:20px;
	margin:0px 5px;
}
